body {
    background-color: #023e8a;
    font-family: 'Martian Mono', monospace;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

#input-el {
    flex-grow: 1;
    max-width: 400px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #3a86ff;
    box-shadow: 1px 1px 4px #4a4e69;
    margin-right: 10px;
    padding: 10px 30px;
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
}
select {
    padding:7px 5px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #3a86ff;
    color: white;
    font-family: 'Martian Mono', monospace;
    box-shadow: 1px 1px 5px black;
    border: 3px solid #3a86ff;
    text-align: center;
}
select:hover {
    background-color: #023e8a;
    border: 3px solid #023e8a;
cursor:pointer;
transform: scale(0.99);

}
h1 {
    font-size: larger;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #4a4e69;
}

#container {
    background-color: #edede9;
    max-width: 600px;
    text-align: center;
    border: 3px solid #edede9;
    padding: 20px 20px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 1px 20px black;
    margin-bottom: 5%;
    width: 100vh;
}
#clear-btn {
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    position: static;
   }
   
   #clear-btn, button span {
    transition: 200ms;
   }
   
   #clear-btn .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
   }
   
   #clear-btn .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(105px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   #clear-btn svg {
    width: 15px;
    fill: #eee;
    width: 20px;
    height: 12px;
   }
   
   #clear-btn:hover {
    background: darkred;
    height: 30px;
   }
   
   #clear-btn:hover .text {
    color: transparent;
   }
   
   #clear-btn:hover .icon {
    width: 140px;
    border-left: none;
    transform: translateX(0);
   }
   
   #clear-btn:focus {
    outline: none;
   }
   
   #clear-btn:active .icon svg {
    transform: scale(0.8);
   }
#add-btn {
    position: static;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #3a86ff;
    border: none;
    box-shadow: 1px 1px 5px black;
    
  }
  
  #add-btn #add-btn__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  #add-btn:hover {
    background: #023e8a;
  }

ul {
    list-style: none;
    text-align: start;
    margin-top: 20px;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 5px #ccc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

button {
    color: #edede9;
    border-radius: 5px;
    font-family: 'Martian Mono', monospace;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 5px;
    position: absolute;
    top: 20px;
    right: 5px;
    width: 34px;
    background-color: red;
    border: 1px solid red;
    box-shadow: 1px 1px 4px darkred;
    transition: all 0.2s;
    }

button:hover {
    background-color: darkred;
    border: 1px solid darkred;
    cursor: pointer;
    color: white;
}

img {
    height: 19px;
    width: 16px;
}

#info-el, #clearinfo-el {
    font-size: 12px;
    text-align: start;
    margin-top: 0;
    padding: 0;
    color: red;
}

#info-el {
    text-align: center;
    margin: 5px 0 20px 0;
    padding-top: 0;
    margin-left: auto;
}

#create-date {
    margin-top: 5px;
    font-size: 10px;
    font-style: italic;
    opacity: 0.5;
}

#current-date {
    text-align: end;
    font-size: 12px;
    color: black;
    text-shadow: 1px 1px 1px #4a4e69;
}

#edit-btn {
    background-color: red;
    border: 1px solid red;
    color: #edede9;
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px darkred;
    margin-right: 45px;
    position: absolute;
    top: 20px;
}

#edit-btn:hover {
    background-color: darkred;
    cursor: pointer;
    color: white;
    border: 1px solid darkred;
}
.input-container {
    display: flex;
    align-items: center;
}
#sort-asc-btn,#sort-desc-btn, #clear-filters-btn, #completed-btn {
     position: static;
    font-family: 'Martian Mono', monospace;
    background-color: #3a86ff;
    border: 1px solid #3a86ff;
    box-shadow: 1px 1px 5px black;
    padding: 0px 5px;
    margin: 5px;
    width: 100px;
   }
   #sort-desc-btn:hover, #sort-asc-btn:hover, #completed-btn:hover {
       background-color: #023e8a;
       border: 1px solid #023e8a;
       cursor: pointer;
       transform: scale(0.99);
   }
   #clear-filters-btn:hover {
    background-color: darkred;
    border: 1px solid darkred;
   }
#edit-btn:active, #clear-btn:active, #add-btn:active, #sort-asc-btn:active, #sort-desc-btn:active, #clear-filters-btn:active, .delete-button:active, #completed-btn:active  {
    transform: scale(0.95);
}
#sprt-desc-btn::after {
    background-color: #023e8a;
}
option {
    text-align: center;
}
#date-picker {
    border-radius: 5px;
    height: 30px;
    border: 1px solid #ccc;
    width: 200px;
    background-color: #edede9;
    box-shadow: 1px 1px 5px black;
    font-family: 'Martian Mono', monospace;
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  #dueDateParagraph
 {
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: #023e8a;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px #c4c4c4;
}
#edit-date {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 2px 3px;
    width: 97px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px #c4c4c4;

}
#due-date {
display: flex;
font-size: 14px;
margin-top: 5px;
margin-left: 150px;
}
#dateOfTaskEnd {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px 3px;
    width: 97px;
    margin-right: auto;
    display: flex;
    margin-right: auto;
  }
/* checkbox settings 👇 */

#status-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
  }
  #status-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
  }

  #status-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  }
  
  /* actions */
  
  #status-checkbox:hover {
    border-color: var(--primary-color);
  }
  
  #status-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
  }
  
  #status-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  